version: 2

aliases:

   - &setup_miniconda
    name: setup_miniconda
    command: |
      git clone -b validateNightly --depth 1 git@github.com:CDAT/cdat $WORKDIR/cdat
      python $WORKDIR/cdat/scripts/install_miniconda.py -w $WORKDIR -p 'py3'

   - &setup_for_selenium_tests
     name: setup_for_selenium_tests
     command: |
        echo "xxx setup_for_selenium_tests xxx"
        export PATH=$WORKDIR/miniconda/bin:$PATH
        type python
        python -m venv venv
        . venv/bin/activate
        pip install selenium
        pip install requests
        pip install pytest
        pip install pytest-testconfig

   - &download_selenium
     name: download_selenium
     command: |
        cd $WORKDIR
        curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar

   - &start_selenium
     name: start_selenium
     command: |
        cd $WORKDIR
        mkdir test-reports
        java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
     background: true

   - &setup_jupyter_vcdat
     name: setup_jupyter_vcdat
     command: |
        export PATH=$WORKDIR/miniconda/bin:$PATH
        export CDAT_ANONYMOUS_LOG=False
        conda create -n jupyter-vcdat -c cdat/label/nightly -c conda-forge -c cdat -c anaconda nodejs "python>3" vcs jupyterlab pip nb_conda nb_conda_kernels
        source activate jupyter-vcdat
        cd $WORKDIR
        echo "XXX git clone https://github.com/CDAT/vcs.git xxx"
        git clone https://github.com/CDAT/vcs.git
        cd vcs
        git checkout boxfill_widgets_jupyter
        python setup.py install
        cd ..
        echo "xxx git clone https://github.com/CDAT/jupyter-vcdat.git xxx"
        git clone https://github.com/CDAT/jupyter-vcdat.git
        cd jupyter-vcdat
        python setup.py install
        echo "xxx jupyter labextension install . xxx"
        jupyter labextension install .
        echo "xxx jupyter serverextension enable --py vcs_backend xxx"
        jupyter serverextension enable --py vcs_backend
        echo "xxx jupyter lab xxx"
        jupyter lab

   - &run_selenium_tests
     name: run_selenium_tests
     command: |
        export PATH=$WORKDIR/miniconda/bin:$PATH
        . venv/bin/activate
        echo "Vx hello...from test_selenium xxxx"
        pytest -s -v tests/test_open_google.py

jobs:
   test_selenium:
      docker:
         #- image: selenium/standalone-chrome:3.1.0
         - image: circleci/python:3.6.2-stretch-browsers
      environment:
         WORKDIR: 'workdir'
      steps:
         - checkout
         - run: *setup_miniconda 
         - run: *download_selenium
         - run: *start_selenium
         - run: *setup_jupyter_vcdat
         - run: *setup_for_selenium_tests
         - run: *run_selenium_tests

workflows:
   version: 2
   browser_tests:
      jobs:
         - test_selenium
