version: 2

aliases:
   - &run_selenium_tests
     name: run_selenium_tests
     command: |
        echo "x hello...from test_selenium xxxx"

jobs:
   test_selenium:
      macos:
         xcode: "9.2.0"
      steps:
         - checkout
         - run: *run_selenium_tests

workflows:
   version: 2
   browser_tests:
      jobs:
         - test_selenium
